<div class="partner content">
    <div class="partnerwrapper">
        <h3>Projects</h3>
        <p>A few  of the many projects that Aussie Extensions have been involved with.</p>



      <div class="filter">
        <h2 class="visually-hidden">Filter by type of conference</h2>
        <button class='filter-btn active' data-filter="all">All</button>
        <button class='filter-btn' data-filter="2ndlevel">2nd Level</button>
        <button class='filter-btn' data-filter="bathroom">Bathroom</button>
        <button class='filter-btn' data-filter="kitchen">Kitchen</button>
          <button class='filter-btn' data-filter="outdoor">Outdoor</button>
            <button class='filter-btn' data-filter="pool">Pool</button>
            <button class='filter-btn' data-filter="renovation">Renovation</button>
      </div>





      <ul class="conference-list">
        <li class="conference" data-category='fullstack'>
          <div class="conference-details">
            <span class="conference-date">January 30th - February 1st</span>
            <span class="conference-category">Fullstack</span>
          </div>
          <h2 class="conference-name">THAT Conference Texas</h2>
        </li>

        <li class="conference" data-category='fullstack'>
          <div class="conference-details">
            <span class="conference-date">February 29th - March 1st</span>
            <span class="conference-category">Fullstack</span>
          </div>
          <h2 class="conference-name">DEVWorld</h2>
        </li>

        <li class="conference" data-category='backend'>
          <div class="conference-details">
            <span class="conference-date">March 19th - March 23rd</span>
            <span class="conference-category">Backend</span>
          </div>
          <h2 class="conference-name">SQLBits</h2>
        </li>

        <li class="conference" data-category='frontend'>
          <div class="conference-details">
            <span class="conference-date">June 6th - June 7th</span>
            <span class="conference-category">Frontend</span>
          </div>
          <h2 class="conference-name">CSS Day</h2>
        </li>

        <li class="conference" data-category='frontend'>
          <div class="conference-details">
            <span class="conference-date">September 9th - September 11th</span>
            <span class="conference-category">Frontend</span>
          </div>
          <h2 class="conference-name">SmashingConf Freiburg</h2>
        </li>
      </ul>

        <div class="grid-4-columns">
<!-- Partner 1 -->
<div class="partnerwrapper"> 
    <div class="partnerwrapperbox fade-in">


<div class="service">
    <div class="service-container text-center">
        <div class="service-top"><i class="typcn typcn-coffee"></i>
        </div>

        <div class="service-title"><h5 class="text-white">Consultation</h5>
        </div>

        <div class="text-white"><p>Aussie Extensions will guide you through the complicated process of planning and executing your new project. We will be there from beginning to end to ensue that your dream and vision are realised.</p>
        </div>

    </div>
</div>


</div>
</div>
<!-- Partner 2 -->

<!-- Partner 3 -->
    </div>
    </div>