
    <div class="footerwrap">
        <h4 class="primary">Contact Information:</h4>
        <p>For more information about our services or to schedule a consultation, please contact us at:</p>
        <p>
            Mobile: <a href="tel:+61417557552" title="Call Aussie Extensions | Excellence in Home Extensions & Renovations" alt="Call Aussie Extensions | Excellence in Home Extensions & Renovations">0417 557 552</a><br>
            Phone: <a href="tel:0298084889" title="Call Aussie Extensions | Excellence in Home Extensions & Renovations" alt="Call Aussie Extensions | Excellence in Home Extensions & Renovations">(02) 9808 4889</a><br>
           Email: <a href="mailto:anthony@aussieextensions.com.au" title="Email Aussie Extensions | Excellence in Home Extensions & Renovations" alt="Email Aussie Extensions | Excellence in Home Extensions & Renovations">anthony@aussieextensions.com.au</a><br>
            Website: <a href="https://www.akirahomes.com.au/" title="Website of Aussie Extensions | Excellence in Home Extensions & Renovations" alt="Website of Aussie Extensions | Excellence in Home Extensions & Renovations">www.akirahomes.com.au</a>
        </p>
    </div>




