<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation">
<span class="hamburger-icon" title="Aussie Extensions | Excellence in Home Extensions & Renovations Mobile Menu" alt="Aussie Extensions | Excellence in Home Extensions & Renovations Mobile Menu"></span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Aussie Extensions | Excellence in Home Extensions & Renovations" alt="Return to the homepage | Aussie Extensions | Excellence in Home Extensions & Renovations" id="logo">
<img src="https://ik.imagekit.io/webtactics/Aussie-Ext/logo/Aussie-Extension-logo-400x100-clear_mGHEzMT6n.png?updatedAt=1755658306789" alt="Aussie Extensions | Excellence in Home Extensions & Renovations" title="Aussie Extensions | Excellence in Home Extensions & Renovations" width="400px" height="auto" loading="lazy" class="logoimg" />
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
{% include "components/global/phone.html" %}
</ul>
</div>
</header>