<section class="sliderbox hide-for-print">
   
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/hero/aussie-extensions-hero-1_MC-hCBPMC.jpg?updatedAt=1755584675449) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/hero/aussie-extensions-hero-2_Vj6g09VrEC.jpg?updatedAt=1755584675499) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/hero/aussie-extensions-hero-3_WZWB2SO0D.jpg?updatedAt=1755584675234) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
</div>





</div>
 <div id="internal-hero" class="caption-text"><h1><span> {{ title }} </span></h1></div>
</section>

