<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-1900,h-760/hero/aussie-extensions-hero-2_Vj6g09VrEC.jpg?updatedAt=1755584675499) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content"> 
<div class="flex-caption left">
<h3>Aussie Extensions</h3>
<div class="flextext"><h2>Winner of 5 Master Builder Awards!</h2></div>   
</div>                          
</div>

</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-1900,h-760/hero/aussie-extensions-hero-1_MC-hCBPMC.jpg?updatedAt=1755584675449) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content">
<div class="flex-caption centre">
<h3>Aussie Extensions</h3>
<div class="flextext"><h2>Expertise & Experience You Can Trust</h2></div>                           
</div>
</div>

</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-1900,h-760/hero/aussie-extensions-hero-3_WZWB2SO0D.jpg?updatedAt=1755584675234) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content">
<div class="flex-caption right">
<h3>Aussie Extensions</h3>
<div class="flextext"><h2>A proven network of quality tradespeople</h2></div> 
</div>                          
</div>

</div>


</div>
</section>

