<section class="sliderbox hide-for-print">
   
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url( {{ image }}/tr:w-1000,h-700 ) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
</div>

</div>
 <div id="internal-hero" class="caption-text"><h1><span> {{ title }} </span></h1></div>
</section>