<section class="sliderbox">
<div id="paralx2" class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">   
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-600,h-400/hero/aussie-extensions-hero-1_MC-hCBPMC.jpg?updatedAt=1755584675449">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-1000,h-600/hero/aussie-extensions-hero-1_MC-hCBPMC.jpg?updatedAt=1755584675449">
<img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/webtactics/Aussie-Ext/tr:w-1903,h-760/hero/aussie-extensions-hero-1_MC-hCBPMC.jpg?updatedAt=1755584675449" alt="Aussie Extensions | Excellence in Home Extensions & Renovations" title="Aussie Extensions | Excellence in Home Extensions & Renovations"  width="1903" height="760">
</picture>
</div>
</section>
