





<h2 class="black">Aussie Extension Company Profile</h2>

<h4>Experience:</h4>

<p>We have been building renovations and extensions for more than 45 years, including architecturally designed extension in Hunters Hill, North Shore, Inner West including Balmain and the Eastern Suburbs.</p>

<h4>Range:</h4>

<p>Anthony and his team have designed and built carports, attic conversions, granny flats, pergolas and decks, and up to full second story and basement additions.  We are experienced in driveways and landscaping also.</p>

<h4>Quality:</h4>

<p>Anthony Kirillov has won multiple Master Builder Awards for Best Extensions ranging from $100,000 up to $550,000. The high quality of workmanship means you can trust Aussie Extensions.</p>

<h4>Team:</h4>

<p>Our team – from designer, master builder, carpenters, electricians, plumbers and all other trades – come highly recommended and are “house trained” – polite, courteous and trustworthy.</p>

<p class="i">Our commitment to excellence is reflected in everything we do; we enjoy what we do, and take great pride in our work.</p>



